#
# boilerplate for vim, sourced from:
# https://github.com/github/gitignore/blob/main/Global/Vim.gitignore
#
*~
[._]*.swp
[._]swp
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~

# b4
.b4.lock

# C tmp files
.gdb_history

# build files
*.o
*.a

# clang static test files
*.ast
*.h.pch
*.plist
externalDefMap.txt

# gprof
gmon.out

# tests
test

# exe
vltl

# temporary exe
asm

# directory for random stuff
/scratch/

# temporary test files
/tests/*/*.S
/tests/*/*.bin
